version : "3.7"

services:
  server:
        build: ./Docker/php
        ports:
          - "80:80"
        container_name: 'rinku-server'
        links: 
          - database
        volumes:
          - type: bind
            source: .
            target: /var/www/html
        restart: 'no'
        
  database:
        build: ./Docker/mysql
        # running on apple silicon, platform is necessary
        platform: linux/x86_64
        command: mysqld --default-authentication-plugin=mysql_native_password 
        container_name: 'rinku-database'
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: backend_db
            MYSQL_USER: user
            MYSQL_PASSWORD: user
        ports:
            - "3306:3306"
        volumes:
          - .mysql:/var/lib/mysql
          - ./Docker/mysql/dbinit:/docker-entrypoint-initdb.d
        restart: 'no'

  adminer:
      build: ./Docker/adminer
      container_name: 'rinku-adminer'
      links:
        - database
      restart: 'no'
      ports:
        - "8080:8080"